@import './base.css';

#app {
  max-width: 100%;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;


  }

  #app {
    width: 100%;
  }
}
